

body {
  padding: 2rem 1rem;
  /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif; */
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

.header {
  background-color: black;
  color: orange;
  text-shadow: 2px 2px black;

}
i {
  font-size: 2em;
  background-color: white;
}
nav {
    height: 16px;
    margin-bottom: 27px;
    background-color: #e91010;
}

h4 {
  text-align: center;
}
.proj {
  float: left;
}

/* .message {
  font-family: Open Sans,Arial;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;

  padding: 1em;
  line-height: 1.4;
  text-align: justify;
  opacity: 0.75;
} */
footer {
  top: 90%;
  position: relative;
  justify-content: center;
}

.no-js .top-bar {
  display: none;
}
.menu {
  padding-bottom: 4em;
}
.demo-toggle-title {
  margin-top: 0.5rem;
}

.top-bar {
  width: 100%;
  opacity: .75;
}

.menu .active {
  font-weight: bold;
}
.container {
    position: relative;
    width: 33%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: lightgrey;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
