
body {
  padding: 2rem 1rem;
}

.header {
  background-image:url("https://s3.amazonaws.com/denchou/Boston.jpg");
  color: white;
  text-shadow: 3px 1px 3px teal;
}
i {
  font-size: 2em;
  background-color: white;
}
nav {
    height: 16px;
    margin-bottom: 27px;
    background-color: #e91010;
}
h4 {
  text-align: center;
}
.message {
  font-family: Open Sans,Arial;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;
  /* max-width: 800px; */
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
  opacity: 0.75;
}
footer {
  top: 90%;
  position: relative;
  justify-content: center;
}
.top-bar {
  opacity: 0.75;
}
.skill {
  opacity: 0.75;
}
.no-js .top-bar {
  display: none;
}
.menu {
  padding-bottom: 4em;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}
